body {
    text-align: center;
}

.sitetitle {
    width: 203px; 
    height: 100px;
}

.hackerman {
    width: 332.5px; 
    height: 50.5;    
}

.smolgentoo {
    font-size: 6px; 
    display: inline;
}