body {
    text-align: center;
    background-image: url("img/background.png");
    background-size: cover;
    background-attachment: fixed;
}

.sitetitle {
    width: 203px; 
    height: 100px;
}

.hackerman {
    width: 332.5px; 
    height: 50.5;    
}

.smolgentoo {
    font-size: 6px; 
    display: inline;
}